.services__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__cardWrapper {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.services__card {
    border: 1px solid var(--light-grey-color);
    border-radius: 8px;
    height: 500px;
    list-style-type: none;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    color: #1f1f1f;
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    line-height: 35px;
}

.services__cardTitle {
    font-size: 24px;
}