.HowWeWork__container {
    background-color: #f9fbfc;
    background-image: url(../../images/forwhom/11.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.HowWeWork__textContailer {
    max-width: 1000px;
}
@media screen and (max-width: 1300px) {
    .HowWeWork__container {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 900px) {
    .HowWeWork__container {
        background-image: url(../../images/forwhom/11small.png);
    }
}

@media screen and (max-width: 500px) {
    .HowWeWork__container {
        padding-top: 50px;
    }
}