.myPrinciples__container {
    scroll-margin-top: 100px;
    background-image: url(../../images/bg/28.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.myPrinciples__container_blur {
    /*backdrop-filter: blur(2px);*/
    padding-bottom: 100px;
    padding-top: 100px;
}

.myPrinciples__wrapper {
    display: flex;
    flex-direction: column;
}

.myPrinciples__ulContainer {
    /*font-weight: 700;*/
    margin: 0;
    max-width: 1000px;
}

.myPrinciples__text {
    margin: 0;
}

.myPrinciples__pic {
    height: 300px;
}

@media screen and (max-width: 900px) {
    .myPrinciples__container {
        background-image: url(../../images/bg/28small.png);
    }    
}