.myPrinciples__container {
    scroll-margin-top: 100px;
    background-image: url(../../images/bg/28.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.myPrinciples__container_blur {
    /*backdrop-filter: blur(2px);*/
    padding-bottom: 100px;
    padding-top: 100px;
}

.myPrinciples__wrapper {
    display: flex;
    flex-direction: column;
}

.myPrinciples__ulContainer {
    /*font-weight: 700;*/
    margin: 0;
    max-width: 1000px;
    
}

.myPrinciples__text {
    margin: 0;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);*/
    
    /*text-shadow: 
    -1px -1px 2px #fff,   светлый контур 
    2px 2px 4px rgba(0, 0, 0, 0.4);*/
}

.myPrinciples__pic {
    height: 300px;
}

@media screen and (max-width: 1300px) {
    .myPrinciples__container_blur {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .myPrinciples__container {
        scroll-margin-top: 70px;
    }
}    

@media screen and (max-width: 900px) {
    .myPrinciples__container {
        background-image: url(../../images/bg/28small.png);
    }   

  
    .myPrinciples__pic {
        height: 0px;
        
         /* background-image: url(../../images/healhyFoodPics/9.png);
        background-repeat: no-repeat;
        background-size: contain;*/
    }
}

@media screen and (max-width: 540px) {
/*    .myPrinciples__pic {
        height: 400px;
        width: 400px;
        align-self: center;
    }*/
}

@media screen and (max-width: 500px) {
    .myPrinciples__container_blur {
        padding-top: 50px;
    }

    .myPrinciples__container {
        scroll-margin-top: 50px;
    }
}

@media screen and (max-width: 440px) {
 /*   .myPrinciples__pic {
        height: 300px;
        width: 300px;
    }*/
}

@media screen and (max-width: 310px) {
/*    .myPrinciples__pic {
        height: 250px;
        width: 250px;
    }*/
}