.myPrinciples__container {
    scroll-margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.myPrinciples__container_blur {
    padding-bottom: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.myPrinciples__wrapper {
    display: flex;
    flex-direction: column;
}

.myPrinciples__ulContainer {
    margin: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 0;
}

.myPrinciples__liContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.myPrinciples__faviconAndTitleContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.myPrinciples__favicon {
    font-size: 64px;
    color: #ad9f76;
    color: #2b2b2b;

    flex-shrink: 0;
    font-weight: 300;
}

.myPrinciples__text {
    margin: 0;
    line-height: 30px;
}

.sub_sub_title {
    font-weight: 400;
}

@media screen and (max-width: 1300px) {
    .myPrinciples__container_blur {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .myPrinciples__container {
        scroll-margin-top: 70px;
    }
}    

@media screen and (max-width: 1000px) {
    .myPrinciples__ulContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .myPrinciples__favicon {
        font-size: 56px;
    }
}

@media screen and (max-width: 700px) {
    .myPrinciples__ulContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .myPrinciples__text {
        align-self: center;
        text-align: center;
    } 

    .myPrinciples__faviconAndTitleContainer {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .myPrinciples__container_blur {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .myPrinciples__container {
        scroll-margin-top: 50px;
    }

    .myPrinciples__favicon {
        font-size: 40px;
    }
}