

.yourResults__wrapper {
    padding: 100px 0;
    background-color: #f9fbfc;
    background-image: url(../../images/forwhom/12.png);
    background-repeat: no-repeat;
}

.yourResults__resultsWrapper {
    display: flex;
    padding: 0;
    gap: 50px;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1300px) {
    .yourResults__wrapper {
        padding: 70px 0;
    }
}

@media screen and (max-width: 500px) {
    .yourResults__wrapper {
        padding-top: 50px;
    }
}