.hero__section {
    background-image: url(../../images/bgseaandtree.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    box-sizing: border-box;
}

.hero__imgAndIconsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.hero__infoContainer {
    display: flex;
    gap: 100px;
    padding: 0;
}

.hero__img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-image: url(../../images/herophoto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    text-align: end;
}

.hero__formLink {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: rgb(105, 185, 223);
    cursor: pointer;
    font-size: 22px;
    font-family: "Roboto Slab", serif;
}

.hero__formLink:hover {
    border: 2px solid rgb(105, 185, 223);
}

.hero__title {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
    font-size: 72px;
    font-weight: 500;
    line-height: 85px;
    margin-top: 0;
}

.hero__noWrap {
    white-space: nowrap;
}

.hero__subtitle {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    font-size: 36px;
}

.hero__contact-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.hero__contact-item {
    list-style-type: none;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    list-style-type: none;
    font-size: 32px;
}

.hero__contact-item:hover {
    opacity: 0.7;
}

.hero__contact-item-link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1300px) {
    .hero__section {
        padding: 50px 0;
    }

    .hero__title {
        font-size: 62px;
        margin-bottom: 100px;
    }

    .hero__subtitle {
        font-size: 32px;
        font-weight: 400;
    }

    .hero__textContainer {
        align-self: flex-start;
    }
}

@media screen and (max-width: 1000px) {
    .hero__title {
        max-width: 700px;
        font-size: 56px;
    }

    .hero__subtitle {
        font-size: 28px;
        font-weight: 400;
    }

    .hero__infoContainer {
        gap: 50px;
    }

    .hero__img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 900px) {
    .hero__infoContainer {
        flex-direction: column;
        gap: 20px;
    }

    .hero__title {
        text-align: center;
        align-items: center;
        max-width: 80%;
        margin-bottom: 50px;
    }

    .hero__subtitle {
        text-align: center;
    }

    .hero__textContainer {
        justify-content: center;
        align-self: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .hero__section {
        background-image: url(../../images/bgseaandtreesmall.jpg);
    }
}

@media screen and (max-width: 600px) {
    .hero__title {
        font-size: 44px;
        max-width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .hero__subtitle {
        font-size: 24px;
    }

    .hero__section {
        padding: 30px 0;
    }

    .hero__img {
        width: 250px;
        height: 250px;
    }

}

@media screen and (max-width: 380px) {
    .header__logoName {
        max-width: 120px;
    }

    .header__burgerIcon {
        height: 22px;
        width: 22px;
    }

    .header__cta {
        height: 22px;
        width: 22px;
    }

    .hero__title {
        font-size: 38px;
        margin-bottom: 20px;
    } 
    .hero__subtitle {
        margin-bottom: 0;
    }
}