.hero__section {
    background-image: url(../../images/bg/bg.jpg);
    background-position: bottom;
    background-position: center bottom -70px;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero__container {

}

.hero__wrapper {
    background: linear-gradient(
        135deg,
        rgba(18, 59, 36, 0.85) 0%,
        rgba(18, 59, 36, 0.65) 100%
    );

    padding-top: 100px;
    padding-bottom: 100px;


}

.hero__imgAndIconsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.hero__infoContainer {
    display: flex;
    padding: 0;
}

.hero__img {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    background-image: url(../../images/herophoto.jpg);
    background-position: start;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__textContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: start;
    text-align: start;
}

.hero__btnHurt {
    width: 50px;
    height: 50px;
    background-image: url(../../images/hurt.png);
    background-position: start;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__formLink {
    padding: 10px 25px;
    color: #123b24;
    margin-top: 50px;
    background-color: #ad9f76;
    cursor: pointer;
    font-size: 22px;
    font-family: "Roboto Slab", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__formLink:hover {
    border: 2px solid #ad9f76;
}

.hero__btnText {
    margin: 0;
}

.hero__title {
    color: #ad9f76;
    font-size: 75px;
    font-weight: 400;
    line-height: 90px;
    margin: 0;
    text-align: start;
}

.hero__noWrap {
    white-space: nowrap;
}

.hero__subtitle {
    color: #e8e4db;
    margin: 0;
    font-size: 28px;
    /*text-transform: uppercase;*/
    font-weight: 200;
    max-width: 700px;
}

.hero__contact-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.hero__contact-item {
    list-style-type: none;
    margin: 10px;
    color: #f1f1f1;
    cursor: pointer;
    list-style-type: none;
    font-size: 32px;
}

.hero__contact-item:hover {
    opacity: 0.7;
}

.hero__contact-item-link {
    text-decoration: none;
    color: #f1f1f1;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .hero__section {
        /*padding: 50px 0;*/
    }

   .hero__title {
        font-size: 62px;
        line-height: 60px;
    }

    .hero__subtitle {
        font-size: 32px;
        font-weight: 400;
    }


}

@media screen and (max-width: 1000px) {
    .hero__title {
        max-width: 700px;
        font-size: 56px;
    }

    .hero__subtitle {
        font-size: 28px;
        font-weight: 400;
    }

    .hero__infoContainer {
        gap: 30px;
    }

    .hero__img {
        width: 400px;
        height: 400px;
    }

    .hero__formLink {
        padding: 10px 20px;
        font-size: 22px;
    }
}

@media screen and (max-width: 900px) {

    .hero__section {
        background-image: url(../../images/bg/smallbg.jpg);
        background-position: end;
    }

    .hero__infoContainer {
        flex-direction: column;
        gap: 20px;
    }

    .hero__title {
        text-align: center;
        align-items: center;
        max-width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    .hero__subtitle {
        text-align: center;
    }

    .hero__textContainer {
        justify-content: center;
        align-self: center;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 750px) {
    .hero__wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .hero__title {
        font-size: 44px;
        max-width: 100%;
    }

    .hero__btnHurt {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 500px) {
    .hero__subtitle {
        font-size: 24px;
    }

    .hero__section {
        padding: 0;
    }

    .hero__btnHurt {
        width: 30px;
        height: 30px;
    }

    .hero__img {
        width: 350px;
        height: 350px;
    }

    .hero__formLink {
        padding: 10px 15px;
        gap: 5px;
        font-size: 18px;
    }

    .hero__wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

@media screen and (max-width: 380px) {
    .hero__formLink {
        padding: 10px 10px;
        font-size: 16px;
    }
    .header__logoName {
        max-width: 120px;
    }

    .header__burgerIcon {
        height: 22px;
        width: 22px;
    }

    .header__cta {
        height: 22px;
        width: 22px;
    }

    .hero__title {
        font-size: 38px;
        margin-bottom: 20px;
    } 
    .hero__subtitle {
        margin-bottom: 0;
    }

    .hero__img {
        width: 300px;
        height: 300px;
    }

    .hero__wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}