.hero__section {
    background-image: url(../../images/bgseaandtree.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
}
.hero__imgAndIconsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.hero__infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 40px;
}
.hero__img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-image: url(../../images/herophoto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    text-align: end;
}
.hero__title {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
    font-size: 62px;
    max-width: 500px;
}
.hero__subtitle {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    font-size: 36px;
}

.hero__contact-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.hero__contact-item {
    list-style-type: none;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    list-style-type: none;
    font-size: 32px;
}

.hero__contact-item:hover {
    opacity: 0.7;
}

.hero__contact-item-link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}