.hero__section {
    background-image: url(../../images/bg/bgstars.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero__container {
    position: relative;
}

.here__flower {
    position: absolute;
    /*bottom: -250px;
    right: -150px;
    width: 600px;
    height: 800px;*/
    bottom: -100px;
    right: 50px;
    width: 600px;
    height: 600px;
    background-image: url(../../images/flovers.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /*transform: rotate(-50deg);*/
    opacity: 0.5;
}


.hero__wrapper {
    background: linear-gradient(
        135deg,
        rgba(18, 59, 36, 0.85) 0%,
        rgba(18, 59, 36, 0.65) 100%
    );
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero__imgAndIconsContainer {
/*    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    */
}
.hero__btn-container {
    display: flex;
    gap: 30px;
}

.hero__infoContainer {
    display: flex;
    padding: 0;
}

.hero__textContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: start;
    text-align: start;
}

.hero__formLink {
    padding: 10px 25px;
    color: #123b24;
    background-color: #ad9f76;
    cursor: pointer;
    font-size: 22px;
    font-family: "Roboto Slab", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.hero__formLink:hover {
    transform: scale(1.01);
}

.hero__btnText {
    margin: 0;
}

.hero__title {
    color: #ad9f76;
    font-size: 75px;
    font-weight: 400;
    line-height: 90px;
    margin: 0;
    text-align: start;
}

.hero__noWrap {
    white-space: nowrap;
}

.hero__subtitle {
    color: #e8e4db;
    margin: 0;
    font-size: 28px;
    /*text-transform: uppercase;*/
    font-weight: 200;
    max-width: 700px;
}

.hero__subsubtitle {
    color: #e8e4db;
    margin: 0;
    font-size: 24px;
    font-weight: 200;
    max-width: 700px;
    margin-top: 50px;
}

.hero__contact-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.hero__contact-item {
    list-style-type: none;
    margin: 10px;
    color: #f1f1f1;
    cursor: pointer;
    list-style-type: none;
    font-size: 32px;
}

.hero__contact-item:hover {
    opacity: 0.7;
}

.hero__contact-item-link {
    text-decoration: none;
    color: #f1f1f1;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .hero__section {
        /*padding: 50px 0;*/
    }

   .hero__title {
        font-size: 62px;
        line-height: 60px;
    }

    .hero__subtitle {
        font-size: 32px;
        font-weight: 400;
    }

    .here__flower {
        bottom: -100px;
        right: -100px;
        width: 500px;
        height: 500px;
        background-image: url(../../images/flovers.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        /*transform: rotate(-50deg);*/
        opacity: 0.5;
    }
}

@media screen and (max-width: 1000px) {
    .hero__title {
        max-width: 700px;
        font-size: 56px;
    }

    .hero__subtitle {
        font-size: 28px;
        font-weight: 400;
    }
/*
    .hero__infoContainer {
        gap: 30px;
    }*/

    .hero__img {
        width: 400px;
        height: 400px;
    }

    .hero__formLink {
        padding: 10px 20px;
        font-size: 22px;
    }
}

@media screen and (max-width: 900px) {

    .hero__section {
        background-image: url(../../images/bg/smallbg.jpg);
        background-image: url(../../images/bg/bgstars.jpg);
    }

    .hero__infoContainer {
        flex-direction: column;
        /*gap: 20px;*/
    }

    .hero__title {
        text-align: center;
        align-items: center;
        max-width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    .hero__subtitle {
        text-align: center;
    }

    .hero__textContainer {
        justify-content: center;
        align-self: center;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 750px) {
    .hero__wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .hero__title {
        font-size: 44px;
        max-width: 100%;
    }

    .hero__btnHurt {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 500px) {
    .hero__section {
        background-position: center;
        padding: 0;
    }

    .hero__title {
        font-weight: 300;
        margin-bottom: 0;
    }

    .hero__subtitle {
        font-size: 24px;
        font-weight: 300;
    }

    .hero__btnHurt {
        width: 30px;
        height: 30px;
    }

    .hero__img {
        width: 350px;
        height: 350px;
    }

    .hero__formLink {
        padding: 10px 15px;
        gap: 5px;
        font-size: 18px;
    }

    .hero__wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

@media screen and (max-width: 400px) {
    .hero__subsubtitle {
        font-size: 20px;
        margin-top: 0;
    }
    .hero__formLink {
        padding: 2px 20px;
        font-size: 16px;
        margin-top: 10px;
    }
    .header__logoName {
        max-width: 120px;
    }

    .header__burgerIcon {
        height: 22px;
        width: 22px;
    }

    .header__cta {
        height: 22px;
        width: 22px;
    }

    .hero__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
        margin: 0;
    } 
    .hero__subtitle {
        margin-bottom: 0;
        line-height: 34px;
        font-size: 20px;
    }

    .hero__img {
        width: 300px;
        height: 300px;
    }

}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .hero__title {
    /* уже есть стили */
    animation: fadeInUp 0.8s ease forwards;
    animation-delay: 0.3s;
    opacity: 0;
  }
  
  .hero__subtitle {
    animation: fadeInUp 0.8s ease forwards;
    animation-delay: 1s;
    opacity: 0;
  }