.hero__section {
    background-image: url(../../images/bg/31.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero__imgAndIconsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.hero__infoContainer {
    display: flex;
    gap: 80px;
    padding: 0;
}

.hero__img {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    background-image: url(../../images/herophoto.jpg);
    background-position: start;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: end;
}

.hero__btnHurt {
    width: 50px;
    height: 50px;
    background-image: url(../../images/hurt.png);
    background-position: start;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__formLink {
    padding: 0 25px;
    border-radius: 40px;
    
    background-color: rgb(105, 185, 223);
    cursor: pointer;
    font-size: 22px;
    font-family: "Roboto Slab", serif;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero__formLink:hover {
    border: 2px solid rgb(105, 185, 223);
}

.hero__title {
    color: #f1f1f1;
    font-size: 85px;
    font-weight: 500;
    line-height: 90px;
    margin: 0;
    text-align: end;
}

.hero__titleContainer {
   /*background-image: url(../../images/undertext.png);
    background-position: start;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1000px;
    min-height: 300px;*/
}

.hero__noWrap {
    white-space: nowrap;
}

.hero__subtitle {
    color: #1f1f1f;
    color: #f1f1f1;
    margin: 0;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 300;
    /*background-image: url(../../images/undertext.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;*/
}

.hero__contact-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.hero__contact-item {
    list-style-type: none;
    margin: 10px;
    color: #1f1f1f;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    list-style-type: none;
    font-size: 32px;
}

.hero__contact-item:hover {
    opacity: 0.7;
}

.hero__contact-item-link {
    text-decoration: none;
    color: #1f1f1f;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1200px) {
    .hero__section {
        /*padding: 50px 0;*/
    }

   .hero__title {
        font-size: 62px;
        line-height: 60px;
    }

    .hero__subtitle {
        font-size: 32px;
        font-weight: 400;
    }


}

@media screen and (max-width: 1000px) {
    .hero__title {
        max-width: 700px;
        font-size: 56px;
    }

    .hero__subtitle {
        font-size: 28px;
        font-weight: 400;
    }

    .hero__infoContainer {
        gap: 30px;
    }

    .hero__img {
        width: 400px;
        height: 400px;
    }

    .hero__formLink {
        padding: 0 20px;
        border-radius: 40px;
        font-size: 22px;
    }
}

@media screen and (max-width: 900px) {
    .hero__infoContainer {
        flex-direction: column;
        gap: 20px;
    }

    .hero__title {
        text-align: center;
        align-items: center;
        max-width: 80%;
        margin-bottom: 50px;
    }

    .hero__subtitle {
        text-align: center;
    }

    .hero__textContainer {
        justify-content: center;
        align-self: center;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    .hero__section {
        background-image: url(../../images/bg/31bgsmall.png);
        
    }
    .hero__title {
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .hero__title {
        font-size: 44px;
        max-width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .hero__subtitle {
        font-size: 24px;
    }

    .hero__section {
        padding: 30px 0;
    }

    .hero__img {
        width: 350px;
        height: 350px;
    }

}

@media screen and (max-width: 380px) {
    .header__logoName {
        max-width: 120px;
    }

    .header__burgerIcon {
        height: 22px;
        width: 22px;
    }

    .header__cta {
        height: 22px;
        width: 22px;
    }

    .hero__title {
        font-size: 38px;
        margin-bottom: 20px;
    } 
    .hero__subtitle {
        margin-bottom: 0;
    }

    .hero__img {
        width: 300px;
        height: 300px;
    }
}