.diploma__card-container {
    list-style-type: none;
    max-width: 500px;
    max-height: 500px;
}

.diploma__card-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.diploma__wrapper {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    margin-bottom: 50px;
    justify-content: center;
}