.Phrase__subtitle {
    font-size: 36px;
    line-height: 50px;
    max-width: 800px;
    text-align: start;
}

.Phrase__subtitlePic {
    min-width: 200px;
    min-height: 200px;
    background-image: url(../../images/hurt.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.Phrase__subtitleContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

@media screen and (max-width: 1200px) {
    .Phrase__subtitle {
        font-size: 32px;
        line-height: 50px;
        max-width: 650px;
    }    

    .Phrase__subtitleContainer {
        gap: 30px;
    }
}

@media screen and (max-width: 750px) {
    .Phrase__subtitleContainer {
        flex-direction: column;
    }
}