
.reviews__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.reviews__item {
    border: 1px solid #ad9f76;
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reviews__name {
    margin: 0;
    color: #ad9f76;
    font-weight: 400;
}

.reviews__text {
    margin: 0;
}