.forWhom__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}

.forWhom__container {
    display: flex;
    gap: 50px;
}

.forWhom__containerHeading {
    padding: 0!important;
}

.forWhom__heroPic {
    width: 400px;
    max-height: 600px;
    min-height: 500px;
    flex-shrink: 0;
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.forWhom__text {
    margin: 5px;
}

.forWhom__textContainer {
    max-width: 1000px;
}

@media screen and (max-width: 1300px) {
    .forWhom__wrapper {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 1050px) {
    .forWhom__heroPic {
        width: 350px;
        max-height: 500px;
        min-height: 400px;
    }

    .forWhom__container {
        gap: 20px;
    }
}

@media screen and (max-width: 950px) {
    .forWhom__container {
        flex-direction: column;
    }
}


@media screen and (max-width: 500px) {
    .forWhom__wrapper {
        padding-top: 50px;
    }

}

@media screen and (max-width: 380px) {
    .forWhom__heroPic {
        width: 300px;
        max-height: 350px;
        min-height: 300px;
    }
}

@media screen and (max-width: 340px) {
    .forWhom__heroPic {
        width: 250px;
        max-height: 250px;
        min-height: 200px;
    }
}

@media screen and (max-width: 290px) {
    .forWhom__heroPic {
        width: 200px;
        max-height: 250px;
        min-height: 200px;
    }
}