.forWhom__wrapper {
    background-image: url(../../images/forwhom/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.forWhom__text {
    
    
}

.forWhom__textContainer {
    max-width: 1000px;
}

@media screen and (max-width: 1300px) {
    .forWhom__wrapper {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 500px) {
    .forWhom__wrapper {
        padding-top: 50px;
    }
}