.results__wrapper {
    padding-top: 100px;
    margin-bottom: 100px;
    font-size: 36px;
}

.results__uppercase {
    text-transform: uppercase;
    margin: 0;
}

.results__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results__equals {
    width: 100px;
    height: 100px;
    background-image: url(../../../images/equals.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 50px;
}

.results__plus {
    width: 50px;
    height: 50px;
    background-image: url(../../../images/plus.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.results__plusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.results__text {
    margin: 0;

    border: 1px solid blueviolet;
    border-radius: 40px;
    padding: 10px 10px;
}

@media screen and (max-width: 1300px) {
    .results__plusContainer {
        flex-direction: column;
    }
}