.results__wrapper {
    padding-top: 100px;
    margin-bottom: 100px;
    font-size: 36px;
}

.results__uppercase {
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    line-height: 60px;
}

.results__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results__equals {
    width: 150px;
    height: 150px;
    background-image: url(../../../images/equals.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

.results__plus {
    width: 50px;
    height: 50px;
    background-image: url(../../../images/plus.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.results__plusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.results__text {
    margin: 0;
    border-radius: 40px;
    padding: 40px 10px;
    background-image: url(../../../images/undertext12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 1300px) {
    .results__plusContainer {
        flex-direction: column;
    }

    .results__wrapper {
        padding-top: 70px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 1000px) {
    .results__text {
        font-size: 30px;
    }    
}

@media screen and (max-width: 500px) {
    .results__text {
        font-size: 26px;
    }

    .results__wrapper {
        padding-top: 50px;
    }
}