.blogPostPage__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.blogPostPage__text {
    color: #1f1f1f;
    font-size: 22px;
    margin: 0;
    font-weight: 300;
    line-height: 45px;
    margin-bottom: 20px;
}

.blog__textAndTitleContainer {
    margin-top: 50px;
}