.header {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header__logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    cursor: pointer;
}

.header__navWrapper {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.header__logoImg {
    background-image: url(../../images/whitelogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.header__logoName {
    font-weight: 300;
    color: #4e7141;
    font-size: 26px;
}
  
.header__nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 20px;
}
  
.header__nav a:hover {
    color: #4e7141;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    border-radius: 30px;
    transition: all 0.3s ease;
    background-color: #fff;
}    
.header__burgerIcon {
    font-weight: 60px;
    border: 2px solid #89a974;
    color: #4e7141;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 500;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__burgerIcon:hover {
    color: #fff;
    background: #a2e8dc;
    background: #bbe6c8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.header__cta {
    border: 3px solid #89a974;
    color: #4e7141;
    padding: 0.6rem 1.2rem;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 500;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header__cta:hover {
    color: #fff;
    background: #a2e8dc;
    background: #bbe6c8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

@media screen and (max-width: 1300px) {
    .header__navWrapper {
        gap: 20px;
    }

    .header__nav a {
        font-size: 18px;
        margin: 0 10px;
    }

    .header__nav a:hover {
        padding: 7px 15px;
    } 

    .header__cta {
        border: 2px solid #89a974;
        font-weight: 400;
    }

    .header__logoName {
        font-size: 24px;
    }

    .header__logoImg {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .header__logoName {
        font-size: 22px;
    }
}

@media screen and (max-width: 500px) {
    .header__navWrapper {
        gap: 10px;
    }

    .header__burgerIcon {
        height: 25px;
        width: 25px;
    }

    .header__cta {
        height: 25px;
        width: 25px;
    }

    .header__logoName {
        font-size: 20px;
    }

    .header__logoContainer {
        gap: 10px;
    }
}

@media screen and (max-width: 400px) {
    .header__navWrapper {
        gap: 5px;
    }
}

@media screen and (max-width: 380px) {
    .header__logoName {
        max-width: 120px;
    }

    .header__burgerIcon {
        height: 22px;
        width: 22px;
    }

    .header__cta {
        height: 22px;
        width: 22px;
    }
}