.header {
    backdrop-filter: blur(8px);
    background-color: #e8e4db;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header__logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    cursor: pointer;
}

.header__navWrapper {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.header__logoImg {
    background-image: url(../../images/whitelogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.header__logoName {
    color: #4e7141;
}
  
.header__navLink {
    margin: 0 1rem;
    text-decoration: none;
    color: rgba(0,0,0,0.6);;
}

.header__navLink:hover {
    color: #ad9f76;
    transition: all 0.3s ease;
}   

.header__burgerIcon {
    font-weight: 60px;
    color: #ad9f76;
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__burgerIcon:hover {
    color: #fff;
    background: #ad9f76;
    transition: all 0.3s ease;
}
.header__cta {
    /*border: 2px solid #ad9f76;
    color: #ad9f76;*/
    padding: 0.6rem 1.2rem;
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header__cta:hover {
    color: #fff;
    background: #ad9f76;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1300px) {
    .header__navWrapper {
        gap: 20px;
    }

    .header__navLink {
        margin: 0 10px;
    }

    .header__navLink:hover {
        padding: 7px 15px;
    } 

    .header__cta {
        font-weight: 400;
    }

    .header__logoImg {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 500px) {
    .header__navWrapper {
        gap: 10px;
    }

    .header__burgerIcon {
        height: 25px;
        width: 25px;
    }

    .header__cta {
        height: 25px;
        width: 25px;
    }

    .header__logoContainer {
        gap: 10px;
    }

    .header__logoImg {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 400px) {
    .header__navWrapper {
        gap: 5px;
    }
}

@media screen and (max-width: 380px) {
    .header__logoName {
        display: flex;
        flex-wrap: nowrap;
        font-size: 14px!important;
    }

    .header__burgerIcon {
        height: 22px;
        width: 22px;
    }

    .header__cta {
        height: 22px;
        width: 22px;
    }
}

@media screen and (max-width: 300px) {
    .header__logoName {
        font-size: 10px!important;
    }
}