.AboutMePage__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    scroll-margin-top: 100px;
    position: relative;
}
/*
.greenCloude {
    position: absolute;
    top: -100px;
    left: 0;

    background-image: url(../../images/greenCloude.png);
    width: 400px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}*/

.AboutMePage__heroPic {
    border-radius: 8px;
    width: 30%;
    max-height: 500px;
    min-height: 400px;
    flex-shrink: 0;
    background-image: url(../../images/herophoto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.AboutMePage__heroPicAndTextContainer {
    display: flex;
    gap: 50px;
    margin: 0;
}

.AboutMePage__heroTextContainer {
    margin: 0;
}

.AboutMePage__slogan {
    color: #1f1f1f;
    font-size: 26px;
    margin: 0;
    font-weight: 300;
    line-height: 45px;
}

.AboutMePage__text {
    color: #1f1f1f;
    margin: 0;
    margin-top: 50px;
    font-weight: 300;
    line-height: 45px;
}

.AboutMePage__text:first-of-type {
    margin-top: 0;
}

.AboutMePage__principlesContainer {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width: 1300px) {
    .AboutMePage__wrapper {
        scroll-margin-top: 70px;
        padding-bottom: 70px;
    }

    .AboutMePage__heroTextContainer {
        margin: 0;
    }
}

@media screen and (max-width: 1200px) {
    .AboutMePage__heroPic {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .AboutMePage__slogan {
        font-size: 22px;
        line-height: 36px;
    }
    
    .AboutMePage__text {
        font-size: 20px;
        line-height: 36px;
    }

    .AboutMePage__wrapper {
        scroll-margin-top: 50px;
        padding-bottom: 50px;
    }

    .AboutMePage__heroTextContainer {
        margin: 0 0 0 0;
    }
}


