.bulletsApproachWrapper {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    width: 100%;
    margin-top: 50px;
}

.bulletsApproachContainer {
    list-style-type: none;
    border: 1px solid #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-right: none;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

.bulletsApproachContainer:last-of-type {
    border-right: 1px solid #f1f1f1;
}

.bulletsApproachText {
    color: #1f1f1f;
    font-size: 22px;
    margin: 0;
    font-weight: 300;
    line-height: 35px;
}

/*@media screen and (max-width: 1300px) {
    .bulletsApproachContainer {
        height: 300px;
    }
}*/

@media screen and (max-width: 1000px) {
    .bulletsApproachWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .bulletsApproachContainer:nth-child(1) {
        border-bottom: none;
    }

    .bulletsApproachContainer:nth-child(2) {
        border-right: 1px solid #f1f1f1;
        border-bottom: none;
    }
}

@media screen and (max-width: 500px) {

    .bulletsApproachWrapper {
        gap: 20px;
    }

    .bulletsApproachText {
        font-size: 20px;
    }

    .bulletsApproachWrapper {
        grid-template-columns: repeat(1, 1fr);
        border-top: none;
        border-bottom: none;
    }

    .bulletsApproachContainer:nth-child(1) {
        border: none;
        border-bottom: none;
    }

    .bulletsApproachContainer:nth-child(2) {
        border: none;
        border-right: none;
        border-bottom: none;
        
    }

    .bulletsApproachContainer:nth-child(3) {
        border-right: none;
        border: none;
        border-bottom: none;
    }

    .bulletsApproachContainer:nth-child(4) {
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-top: none;
    }
}