.footer__section {
    background-image: url(../../images/bg/bgstars.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer__wrapper {
    background: linear-gradient(
        135deg,
        rgba(18, 59, 36, 0.85) 0%,
        rgba(18, 59, 36, 0.65) 100%
    );
    margin: 0;
    width: 100%;
    min-width: 100%;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contact-container {
    max-width: 500px;
    display: flex;
    padding: 0;
    margin: 0;
}

.footer__contactWrapper {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.footer__li {
    cursor: pointer;
    color: #e8e4db;
    margin: 0;
    list-style-type: none;
}

.footer__li:hover {
    color: #ad9f76;
}

@media screen and (max-width: 750px) {
    .footer__container {
        flex-direction: column;
    }
}