.mission__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.mission__container {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0!important;
}

.mission__title {
    text-align: center!important;
    align-self: center!important;
    margin-bottom: 25px!important;
}

.mission__text {
    line-height: 40px;
    text-align: center;
    margin: 0; 
}

.mission__link {
    color: #ad9f76;
    border: 2px solid #ad9f76;
    margin-top: 50px;
    background-color: transparent;
    padding: 0 40px;
    height: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 300px;
    align-self: center;
    transition: transform background-color color 0.2s ease;
}

.mission__link:hover {
    transform: scale(1.01);
    background-color: #ad9f76;
    color: #e8e4db;
}

@media screen and (max-width: 1300px) {
    .mission__wrapper {
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 1200px) {  

    .mission__wrapper {
        gap: 30px;
    }
}

@media screen and (max-width: 750px) {
    .mission__wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .mission__link  {
        width: 90%;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .mission__wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .AboutMePage__titleAndText {
    opacity: 0;
    transform: translateY(40px);
  }
  
  .AboutMePage__titleAndText.visible {
    animation: fadeInUp 0.8s ease-out forwards;
  }
  