.mission__wrapper {
    display: flex;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.mission__sunPic {
    width: 200px;
    height: 200px;
    background-image: url(../../images/sun.png);
    background-position: start;
    background-size: contain;
    background-repeat: no-repeat;
}

.mission__text {
    font-size: 36px;
    line-height: 50px;
    max-width: 800px;
    text-align: end;
/*
    background-image: url(../../images/forWhom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;*/
}

@media screen and (max-width: 750px) {
    .mission__wrapper {
        flex-direction: column;
    }
}