.blog__wrapper {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    margin-top: 100px;
}

.blog__ulWrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.blog__card {
    /*border: 1px solid #f7f7f7;*/
    border-radius: 8px;
    list-style-type: none;
    padding: 30px;
    padding-bottom: 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 20px;
    position: relative;
    text-decoration: none;
}

.blog__cardReverse {
    flex-direction: row-reverse;
    position: relative;
}

.blog__imgContainer {
    width: 100%;
    max-width: 300px;
    
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.blog__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.blog__textAndTitleContainer {
    display: flex;
    flex-direction: column;
    
}

.blog__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #1f1f1f;
}

.blog__btn {
    align-self: flex-end;
    border-radius: 8px;
    height: 40px;
    width: 250px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    opacity: 1;
    border: 1px solid #f7f7f7;
    color: #1f1f1f;
    text-decoration: none;
}

.blog__btn:hover {
    height: 42px;
    width: 252px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.blog__btnReverse {
    left: 30px;
    bottom: 30px;
}

.blog__text {
    color: #1f1f1f;
    font-size: 22px;
    margin: 0;
    font-weight: 300;
    line-height: 45px;
}    