.heading {
    font-size: 40px;
    color: #374BA5;
    margin: 0;
    margin-top: 100px;
    text-align: start;
    align-self: flex-start;
}

@media screen and (max-width: 1300px) {
    .heading {
        margin-top: 70px;
    }
}

