.heading {
    font-size: 40px;
    font-weight: 400;
    color: #ad9f76;
    margin: 0;
    margin-bottom: 50px;
    text-align: start;
    align-self: flex-start;
}

@media screen and (max-width: 1000px) {
    .heading {
        font-size: 32px;
    }
}

@media screen and (max-width: 700px) {
    .heading {
        text-align: center;
        align-self: center;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        font-size: 26px;
        margin-bottom: 25px;
    }
}

