/*
* {
  outline: 1px solid red;
}
*/
body {
  margin: 0;
  background-color: #f6f6f6;
  min-width: 100%;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
  font-weight: 300;
  line-height: 45px;
  color: #1f1f1f;
}
/*
.container {
  max-width: 500px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

input,
button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.food-item {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
}*/