body {
  margin: 0;
  background-color: #e8e4db;
  min-width: 100%;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  line-height: 45px;
  color: #2b2b2b;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: 750px) {
  body {
    font-size: 16px;
  }
}

.sub_sub_title {
  font-size: 20px;
  line-height: normal;
  color: #ad9f76;
  color: #2b2b2b;
  margin: 0;
}  