.testimonials {
  background-color: #f9f9f9;
  text-align: center;

  scroll-margin-top: 100px;
}

@media (min-width: 1500px) {
  .testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider-controls {
  margin-bottom: 0;
  margin-top: 20px;
}

.slider-controls button {
  font-size: 1.5rem;
  margin: 0 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.slider-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  scrollbar-width: none;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.review-card {
  flex: 0 0 30%;
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 18px;
  font-family: "Roboto Slab", serif;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.review-photo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.review-info h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.review-program {
  color: #777;
  margin: 2px 0 0;
  font-size: 15px;
}

.review-text {
  font-style: italic;
  font-size: 20px;
  color: #333;
  line-height: 1.4;
  font-weight: 300;
}

.review__nameAndAge {
  font-size: 18px !important;
}

@media (max-width: 900px) {
  .review-card {
    flex: 0 0 70%;
  }
}

@media (max-width: 600px) {
  .review-card {
    flex: 0 0 90%;
  }
}

.slider-scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: 50px;
}

.slider-container {
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  width: fit-content;
}

.slider-scroll-wrapper::-webkit-scrollbar,
.slider-container::-webkit-scrollbar {
  display: none;
}

.slider-scroll-wrapper {
  scrollbar-width: none;
}