.Contacts__contact-item-link {
    color: #1f1f1f;
    display: flex;
    gap: 10px;
    
    align-items: center;
    text-decoration: none;
}

.Contacts__li {
    list-style-type: circle;
}

.Contacts__title {

}

.Contacts__section {
    margin-top: 50px;
    margin-bottom: 50px;
}